.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100px;
  padding: 20px;
  margin-bottom: 15px;
}

.line {
  height: 2px;
  background-color: black;
  margin-bottom: 20px;
}

.App-title {
  font-size: 3.3em;
  font-weight: bold;
}

.App-intro {
  font-size: 1.5em;
}


.item-title {
  text-align: center;
  font-size: 1.2em;
  margin-top: 6px;
  margin-bottom: 3px;
}

.item-desc {
  display: block;
  text-align: center;
  font-size: .8em;
}

.filter-content {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

.text-field {
  display: block;
  width:160px;
  height: 35px;
  margin-bottom: 10px;
}

.toggle-buttons {
  display: inline-block;
  margin-bottom: 10px;
}

.sort {
  margin-top: 20px;

}

.button-area {
  display: block;
}

.btn-custom {
  background-color: purple;
  color:white;
}

img {
  width: 160px;
  height: 110px;
  float:top;

  display: block;

  box-shadow: 2px 2px 1px #ccc;
}

ul {
  list-style: none;
  list-style-position: inside;
  text-align: center;
}

li {
  float: left;
  margin: 20px;
  display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
